/* make titles blue */
	h1 {
		color: #3C5556;
	}
	
	
body {
  background-color: #F6EFE7;
  font-family: Roboto;
  color: #000000;
}

.navbar {
  background-color: #3C5556;
  color: #F6EFE7;
  font-weight: bold;
}

.navbar-default .navbar-brand {
    color: #FFFFFF;
}

.container {
  color: #000000;
}

.navbar-default .navbar-nav>li>a {
    color: #FFFFFF;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
    color: #F5D4C3;
    background-color: #F5D4C3;
}

nav a.hover {
  color: #F5D4C3;
}



/* Hyper-links */
a:link {
	color: #E09789;
}

